.review-btn {
  border: none;
  border-radius: none;
  margin: 10px 0;
  padding: 10px 30px;
  cursor: pointer;
}

.review-btn:hover {
  background-color: #F8385D;
  color: #FFFFFF;
}

.review {
  color: #484848;
  line-height: 1.8rem;
  margin: 15px 0;
}

.reviewer-name {
  font-weight: bold;
}

.review-date {
  font-weight: bold;
  font-size: .9em;
  color: #7e7e77;
}