.primary-btn {
  border: none;
  border-radius: none;
  margin: 10px 0;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #cdcdcb;
}

.primary-btn:hover {
  background-color: #f8385d;
  color: #ffffff;
}

.primary-btn:disabled {
  background-color: #a9a9a9;
  color: #666;
  cursor: not-allowed;
}

.review {
  color: #484848;
  line-height: 1.8rem;
  margin: 15px 0;
}

.reviewer-name {
  font-weight: bold;
}

.review-date {
  font-weight: bold;
  font-size: 0.9em;
  color: #7e7e77;
}
