.spot-card {
  margin: auto;
  width: 350px;
}

.spotImage {
  width: 350px;
  height: 350px;
}

.spot-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 10px 0;
}

.spot-location {
  margin-bottom: 15px;
}