.spot-card {
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.spotImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.spot-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 10px 0;
}

.spot-location {
  margin-bottom: 15px;
}

.delete-update-btn {
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  border: none;
  border-radius: none;
  margin: 10px 0;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #cdcdcb;
}

.primary-btn:hover {
  background-color: #F8385D;
  color: #FFFFFF;
}

.update-link {
  text-decoration: none;
  color: inherit;
}

.update-link:hover {
  color: #FFFFFF;
}

.open-modal {
  padding: 50px 20px;
  text-align: center;
}

#confirm-delete-btn {
  margin-right: 20px;
}